NET "pG0" LOC = "27" | IOSTANDARD = "LVCMOS33";
NET "pRST" LOC = "99" | IOSTANDARD = "LVCMOS33";
NET "p2A2" LOC = "79" | IOSTANDARD = "LVCMOS33";
NET "p2A3" LOC = "77" | IOSTANDARD = "LVCMOS33";
NET "p2B2" LOC = "81" | IOSTANDARD = "LVCMOS33";
NET "p2B3" LOC = "91" | IOSTANDARD = "LVCMOS33";
NET "p3B1" LOC = "67" | IOSTANDARD = "LVCMOS33";
NET "p3B2" LOC = "60" | IOSTANDARD = "LVCMOS33";
NET "p3B3" LOC = "64" | IOSTANDARD = "LVCMOS33";
NET "p3C0" LOC = "70" | IOSTANDARD = "LVCMOS33";
NET "p3C1" LOC = "71" | IOSTANDARD = "LVCMOS33";
NET "p3A0" LOC = "56" | IOSTANDARD = "LVCMOS33";
NET "p3A1" LOC = "53" | IOSTANDARD = "LVCMOS33";
NET "p3A2" LOC = "55" | IOSTANDARD = "LVCMOS33";
NET "p3A3" LOC = "52" | IOSTANDARD = "LVCMOS33";
