NET "pG0" LOC = "27" | IOSTANDARD = "LVCMOS33";
NET "p3B2" LOC = "60" | IOSTANDARD = "LVCMOS33";
NET "p3A0" LOC = "56" | IOSTANDARD = "LVCMOS33";
NET "p3A1" LOC = "53" | IOSTANDARD = "LVCMOS33";
NET "p3A2" LOC = "55" | IOSTANDARD = "LVCMOS33";
NET "p3A3" LOC = "52" | IOSTANDARD = "LVCMOS33";
