*
!*.v
!*.py
!*.ucf
!*.wcfg
!.gitignore
!*.xise
!*.xst
!src
!test
!ipcore_dir
!ipcore_dir/*
!ipcore_dir/*/*
ipcore_dir/_xmsgs
ipcore_dir/tmp
!Makefile
!filter.filter
!iseconfig
!iseconfig/main.xreport
!make_mcs.batch
!main.prj
!main.ut
ipcore_dir/*.log
